<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    bootstrap="vendor/autoload.php">
    <testsuite name="all">
        <directory>Unit/</directory>
    </testsuite>
</phpunit>